# i3 config file (v4)
# Set Alt as the modifier key
set $mod Mod1

# Font for window titles
font pango:Hasklig Light 8

# Use Mouse+$mod to drag floating windows
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec kitty
bindsym $mod+Shift+Return exec google-chrome || exec firefox

# kill focused window
bindsym $mod+Shift+q kill

# start dmenu (a program launcher)
bindsym $mod+d exec --no-startup-id rofi -show combi -theme solarized_alternate

# move windows
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# display rotation
bindsym $mod+Shift+w exec xrandr -o right

# move focus
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

bindsym $mod+comma workspace prev
bindsym $mod+period workspace next

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# Define names for default workspaces
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

# switch to workspace
bindsym $mod+1 workspace number $ws1
bindsym $mod+2 workspace number $ws2
bindsym $mod+3 workspace number $ws3
bindsym $mod+4 workspace number $ws4
bindsym $mod+5 workspace number $ws5
bindsym $mod+6 workspace number $ws6
bindsym $mod+7 workspace number $ws7
bindsym $mod+8 workspace number $ws8
bindsym $mod+9 workspace number $ws9
bindsym $mod+0 workspace number $ws10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace number $ws1
bindsym $mod+Shift+2 move container to workspace number $ws2
bindsym $mod+Shift+3 move container to workspace number $ws3
bindsym $mod+Shift+4 move container to workspace number $ws4
bindsym $mod+Shift+5 move container to workspace number $ws5
bindsym $mod+Shift+6 move container to workspace number $ws6
bindsym $mod+Shift+7 move container to workspace number $ws7
bindsym $mod+Shift+8 move container to workspace number $ws8
bindsym $mod+Shift+9 move container to workspace number $ws9
bindsym $mod+Shift+0 move container to workspace number $ws10

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
mode "exit: [l]ogout, [r]eboot, [s]hutdown" {
  bindsym l exec i3-msg exit
  bindsym r exec systemctl reboot
  bindsym s exec systemctl shutdown
  bindsym Escape mode "default"
  bindsym Return mode "default"
}

bindsym $mod+Shift+e mode "exit: [l]ogout, [r]eboot, [s]hutdown"

# Start i3bar to display a workspace bar
bar {
        i3bar_command i3bar --transparency
        status_command i3status
        colors {
            background #00000FF
            statusline #FFFFFF
        }
}

# Set keyboard repeat rate (delay: 300ms, rate: 50 k/sec)
exec --no-startup-id xset r rate 300 50

# numlock on
exec --no-startup-id xdotool key --clearmodifiers Num_Lock

# caps = escape
exec --no-startup-id setxkbmap -option caps:escape
exec --no-startup-id setxkbmap -option compose:lwin

# remap middle click to left click
exec --no-startup-id xinput set-button-map 10 1 0 3

# audio in tray
exec --no-startup-id pasystray

# compton compositing for transparency
exec --no-startup-id picom

# set wallpaper
exec_always --no-startup-id feh --randomize --bg-fill ~/dotfiles/qol/wallpapers/*

# wifi goodness
exec --no-startup-id nm-applet

bindsym XF86AudioMute exec amixer sset 'Master' toggle
bindsym XF86AudioLowerVolume exec amixer sset 'Master' 5%-
bindsym XF86AudioRaiseVolume exec amixer sset 'Master' 5%+
bindsym XF86MonBrightnessUp exec --no-startup-id brightnessctl set +10%
bindsym XF86MonBrightnessDown exec --no-startup-id brightnessctl set 10%-
bindsym $mod+Shift+s exec --no-startup-id flameshot gui -c
